# URL to the go2rtc streaming server
# In Docker Compose, this is http://stream-server:1984
# When developing locally outside Docker, this is http://localhost:1984
GO2RTC_URL=http://localhost:1984

# Port for the Next.js app
PORT=3000
